.product-card{
    border: 7px solid #f0eeee;
    transition: all 0.3s;
}
.product-card:hover{
    border: 7px solid #212121;
}
.title:after{
    content: '';
    display: inline-block;
    width: 3%;
    border-bottom: 1px solid #212121;
    margin: auto;
    transform: translateY(-12px);
    margin:0 4px;
}
.title:before{
    content: '';
    display: inline-block;
    width: 3%;
    border-bottom: 1px solid #212121;
    margin: auto;
    transform: translateY(-12px);
    margin:0 4px;
}

.title-2:after{
    content: '';
    display: inline-block;
    width: 10%;
    border-bottom: 1px solid #212121;
    margin: auto;
    transform: translateY(-7px);
    margin:0 4px;
}
.title-2:before{
    content: '';
    display: inline-block;
    width: 10%;
    border-bottom: 1px solid #212121;
    margin: auto;
    transform: translateY(-7px);
    margin:0 4px;
}